scripts/n8n-workflows/slack-notify.json
{
  "name": "Zenny — Slack Notify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-slack",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "slack-notify"
    },
    {
      "parameters": {
        "channel": "={{ $json.body.channel || '#zenny-alerts' }}",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "id": "slack-node",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-slack",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Slack", "type": "main", "index": 0 }]]
    },
    "Slack": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["zenny", "slack"]
}