scripts/n8n-workflows/stripe-refund.json
{
  "name": "Zenny — Stripe Refund",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-refund-execute",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-stripe",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "stripe-refund-execute"
    },
    {
      "parameters": {
        "operation": "refund",
        "paymentIntent": "={{ $json.body.payment_intent }}",
        "amount": "={{ $json.body.amount }}",
        "reason": "={{ $json.body.reason || 'requested_by_customer' }}",
        "options": {}
      },
      "id": "stripe-node",
      "name": "Stripe",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-stripe",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Stripe", "type": "main", "index": 0 }]]
    },
    "Stripe": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["zenny", "stripe"]
}